.main-section {
  width: auto;
  height: 800px;
  background-color: #3d087b;
}
.container1 {
  top: 149px;
  left: 124px;
  width: 566px;
  height: 363px;
  position: absolute;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-ededed);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 1;
}
.container2 {
  top: 527px;
  left: 124px;
  width: 566px;
  height: 77px;
  position: absolute;
  border: 1px solid var(--unnamed-color-ededed);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 0.23;
}
.container3 {
  top: 624px;
  left: 124px;
  width: 299px;
  height: 50px;
  position: absolute;
  /* UI Properties */
  background: transparent linear-gradient(113deg, #6e54ec 0%, #cb52f8 40%, #fc5eff 81%, #f1a7c5 100%) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.container4 {
  top: 615px;
  left: 437px;
  width: 240px;
  height: 100px;
  position: absolute;
  padding: 10px;
  /* border: 1px solid var(--unnamed-color-ededed); */
  background: #785aa7;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.container5 {
  top: 42px;
  left: 706px;
  width: 536px;
  height: 130px;
  position: absolute;
  /* UI Properties */
  border: 1px solid var(--unnamed-color-ededed);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 1;
}
.container6 {
  top: 55px;
  left: 766px;
  width: 416px;
  height: 130px;
  position: absolute;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.71;
}
.container7 {
  top: 67px;
  left: 785px;
  width: 379px;
  height: 130px;
  position: absolute;
  /* UI Properties */

  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.22;
}
.container8 {
  top: 212px;
  left: 706px;
  width: 536px;
  height: 118px;
  position: absolute;
  /* UI Properties */
  text-align: center;
  vertical-align: middle;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 1;
}
.container9 {
  top: 345px;
  left: 707px;
  width: 536px;
  height: 341px;
  position: absolute;
  /* UI Properties */
  background: transparent url("GoodMorningImage.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.sub-container1 {
  top: 10px;
  left: 27px;
  width: 517px;
  height: 335px;
  position: absolute;

  /* UI Properties */
  opacity: 1;
}
.clock {
  top: 38px;
  left: 119px;
  width: 204px;
  height: 77px;
  position: absolute;
  /* UI Properties */
  background: transparent url("clock_logo.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

#text1 {
  top: 33px;
  left: 490px;
  width: 166px;
  height: 57px;
  /* UI Properties */
  text-align: center;
  font: normal normal normal 14px/20px Inter;
  letter-spacing: 0px;
  color: #858585;
  padding-left: 5px;
  padding-top: 20px;
  opacity: 1;
}
#text2 {
  top: 252px;
  left: 728px;
  width: 492px;
  height: 38px;
  /* UI Properties */
  color: var(--unnamed-color-8e53f0);
  text-align: center;
  margin-top: 35px;
  font: normal normal 900 30px/40px Bauhaus Hv BT;
  letter-spacing: 0px;
  color: #8e53f0;
  text-transform: uppercase;
  opacity: 1;
}
#text3 {
  top: 6px;
  left: 83px;
  width: 381px;
  height: 34px;
  position: absolute;
  text-align: left;
  font: normal normal 900 27px/34px Bauhaus Hv BT;
  letter-spacing: 0px;
  color: rgb(47, 9, 46);
  text-transform: uppercase;
  opacity: 1;
}
#text4 {
  top: 3px;
  left: 90px;
  width: 111px;
  height: 31px;
  position: absolute;
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal 600 24px/38px Manrope;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#text5 {
  top: 625px;
  left: 449px;
  width: 200px;
  height: 94px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 15px/25px Manrope;
  position: absolute;
  top: -9px;
  left: -11px;
  letter-spacing: 0px;
  color: #840d8c;
  opacity: 1;
}
#cont-1 {
  top: 45px;
  left: 25px;
  width: 46px;
  height: 26px;
  position: absolute;
  color: var(--unnamed-color-3d087b);
  text-align: left;
  font: normal normal 600 20px/32px Manrope;
  letter-spacing: 0px;
  color: #3d087b;
  text-transform: uppercase;
  opacity: 1;
}
#contBox1 {
  top: 20px;
  left: 100px;
  width: 80px;
  height: 90px;
  position: absolute;
  /* UI Properties */
  background: transparent url("timeline.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}
#contBox2 {
  top: 20px;
  left: 200px;
  width: 80px;
  height: 90px;
  position: absolute;
  /* UI Properties */
  background-color: #f6e2ff;
  background: transparent url("timeline.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}
#contBox3 {
  top: 20px;
  left: 300px;
  width: 80px;
  height: 90px;
  position: absolute;

  /* UI Properties */
  background: transparent url("timeline.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}
#contBox4 {
  top: 20px;
  left: 400px;
  width: 80px;
  height: 90px;
  position: absolute;
  /* UI Properties */
  background: transparent url("AM_svg.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}
#timetext1 {
  top: 7px;
  left: 18px;
  width: 33px;
  height: 43px;
  position: absolute;
  color: var(--unnamed-color-8a11bf);
  text-align: left;
  font: normal normal normal 36px/43px Barlow;
  letter-spacing: 0px;
  color: #8a11bf;
  opacity: 1;
}
#timetext2 {
  top: 7px;
  left: 18px;
  width: 33px;
  height: 43px;
  position: absolute;
  color: var(--unnamed-color-8a11bf);
  text-align: left;
  font: normal normal normal 36px/43px Barlow;
  letter-spacing: 0px;
  color: #8a11bf;
  opacity: 1;
}
#timetext3 {
  top: 7px;
  left: 18px;
  width: 33px;
  height: 43px;
  position: absolute;
  color: var(--unnamed-color-8a11bf);
  text-align: left;
  font: normal normal normal 36px/43px Barlow;
  letter-spacing: 0px;
  color: #8a11bf;
  opacity: 1;
}

.timeText2 {
  top: 45px;
  left: 18px;
  width: 56px;
  height: 28px;
  position: absolute;
  /* UI Properties */
  color: var(--unnamed-color-5f0089);
  text-align: left;
  font: normal normal normal 23px/28px Barlow;
  letter-spacing: 0px;
  color: #5f0089;
  opacity: 1;
}
#timeText3 {
  top: 20px;
  left: 12px;
  width: 48px;
  height: 43px;
  position: absolute;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 36px/43px Barlow;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#semicolon {
  top: 50px;
  left: 185px;
  width: 4px;
  height: 22px;
  font-size: 30px;
  position: absolute;
  background: var(--unnamed-color-8a11bf) 0% 0% no-repeat padding-box;
  opacity: 1;
}
#semicolon1 {
  top: 50px;
  left: 285px;
  width: 4px;
  height: 22px;
  font-size: 30px;
  position: absolute;
  background: var(--unnamed-color-8a11bf) 0% 0% no-repeat padding-box;
  opacity: 1;
}
#sub-cont {
  top: 23px;
  left: 0px;
  width: 517px;
  height: 45px;
  position: absolute;
  /* UI Properties */
  opacity: 1;
}
#sub-cont1 {
  top: 113px;
  left: 0px;
  width: 517px;
  height: 45px;
  position: absolute;
  /* UI Properties */
  opacity: 1;
}
#sub-cont2 {
  top: 193px;
  left: 0px;
  width: 517px;
  height: 45px;
  position: absolute;
  /* UI Properties */
  opacity: 1;
}
#sub-cont3 {
  top: 273px;
  left: 0px;
  width: 517px;
  height: 45px;
  position: absolute;
  /* UI Properties */
  opacity: 1;
}
#img1 {
  top: 7px;
  left: 17px;
  width: 34px;
  height: 34px;
  position: absolute;
  /* UI Properties */
  background: transparent url("wake_up.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.SetTime {
  top: 7px;
  left: 80px;
  width: 141px;
  height: 23px;
  position: absolute;
  text-align: left;
  font: normal normal normal 18px/28px Manrope;
  letter-spacing: 0px;
  color: #3d087b;
  opacity: 1;
}
.Box {
  top: 0px;
  left: 230px;
  width: 281px;
  height: 45px;
  position: absolute;
  border: 1px solid var(--unnamed-color-ededed);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 4px;
  opacity: 1;
}
.timmings {
  top: 0px;
  left: 0px;
  width: 106px;
  height: 18px;
  position: absolute;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 14px/20px Manrope;
  letter-spacing: 0.25px;
  line-height: 40px;
  color: #3d087bde;
  opacity: 1;
}
.img2 {
  top: 7px;
  left: 17px;
  width: 34px;
  height: 34px;
  position: absolute;
  /* UI Properties */
  background: transparent url("lunch_time.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.img3 {
  top: 7px;
  left: 17px;
  width: 34px;
  height: 34px;
  position: absolute;
  /* UI Properties */
  background: transparent url("nap_time.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.img4 {
  top: 7px;
  left: 17px;
  width: 34px;
  height: 34px;
  position: absolute;
  opacity: 1;
}
.fa-solid{
  width: 50px;
  height:50px;
}
.fa-moon{
  width: 50px;
  height: 50px;
  font-size: 35px;
  color: rgb(77, 28, 123);
}